### Basic Code For Linear Regression

In [12]:
## Importing 'them libs'
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [7]:
# Accessing the basic CSV file for linear regression
data = pd.read_csv('DataSets/homeprices_multi-varaible.csv')
data

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [13]:
data.bedrooms = data.bedrooms.fillna(data.bedrooms.mean())
data

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.2   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [10]:
# Basic Linear Model calling
Regressor = linear_model.LinearRegression()
Regressor.fit(data.drop('price',axis=1),data.price)

LinearRegression()

In [28]:
# plt.scatter(data.area,data.price)
# stuff = np.array(data.price)
# stuff = stuff.resize(1,-11)
# plt.plot(data.area,Regressor.predict(stuff))
# plt.show()
# Some weird shit..doesn't plot correctly...but the model works fine...at the very basic level